
<!DOCTYPE html>
<html lang="en">

<head>


<title>About Online Voting</title>

<meta name="description" content="Learn about Vote, your expert in online elections, ranked-choice voting, instant runoff voting, the single transferable vote, and many other voting methods." />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:admins" content="100004130346820" />
<meta id="data-locale" data-locale="en"> >

<link href="https://plus.google.com/111850198888069322953" rel="publisher" />

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin-ext" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/opavote.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha384-6ePHh72Rl3hKio4HiJ841psfsRJveeS+aLoaEf3BWfS+gTF0XdAqku2ka8VddikM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" integrity="sha384-YWP9O4NjmcGo4oEJFXvvYSEzuHIvey+LbXkBNJ1Kd0yfugEZN9NCQNpRYBVC1RvA" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/opavote.min.js"></script>



<noscript>
<style>.js-only { display:none; }</style>
</noscript>


</head>

<body>

{% include 'includes/_navbar.html' %}

<div class="content ">

<div class="container width-sm">

<h1>About Online Voting</h1>

<p>Online voting system website was created in 2018 in k.j somaiya college of engineering final project.</p>
<ul>
<li>Provide the best possible experience for both voters and election
managers.  Getting voters to vote is challenging so we provide a clean and
simple user interface for voters.  Online voting is fast and works great on mobile
devices.</li>
<li>Provide top-notch security and reliability. Online voting authenticate voter based on their bio-metrics and encrypts voting pages
with state-of-the-art encryption for security, runs on Google servers for
fast responses, and sends voting emails using Sendgrid to make sure emails
land in voter inboxes.</li>
<li>Maintain voter privacy. Voter emails are used ONLY for your election.</li>
<li>Be cost effective!  Online voting is much less expensive than most other methods.</li>
<li>Promote the use of better voting techniques. more secure and reliable,easy and fast voting process.</li>
</ul>

<h2>Founder and Management Team</h2>

<p>Online voting system was founded by students of k.j somaiya college of engineering under guidence of Ms. Shweta D. Chachara.
<li>Dhaval Bhadresha</li>
<li>Hardik Tank</li>
<li>Ayyaz Khan</li>
<li>Bhumika popat</li></p>

<p>All students are from computer engineering .
During Final year project of engineering they got this idea based on current voting system scenario.
</p>

<p>The article,
Everything that Can be Counted Does not Necessarily Count: The Right to Vote
and the Choice of a Voting System, was published in the Michigan State Law
Review, cited by the
Ninth Circuit Court of Appeals in upholding the legality of ranked-choice
voting in San Francisco, and relied upon by the
City of Minneapolis in
successfully arguing for the constituionality of IRV under state law.</p>



<h1>Contact Us</h1>

<p>Please see below for how to contact us for asking questions about
your online election or for other support.</p>

<h2>Questions about using Online voting</h2>

<p>We are happy to answer simple questions about using Online Voting, but please read our documentation and try a test election before asking a question. We will answer most questions within 24 hours. </p>

<ul>
<li>Use our support forum.</li>
<li>Use our live chat at the bottom of this page. During business hours, we usually respond quickly, but leave your email address if we don't respond right away and we'll get back to you via email.</li>
<li>For questions about any information,
send an email to team@<span style="display:none;">whatever</span>onlineVoting.com.</li>
</ul>

<li>manually fix a mistake in your election,</li>
<li>help you understand the wide variety of available voting methods,</li>
<li>help you select a voting method that best meets the needs of your
organization,</li>
<li>run your whole election for you with Online Voting, and</li>
<li>implement a custom feature.</li>
</ul>

<p>Send an email to team@<span style="display:none;">whatever</span>onlineVoting.com to request for support.</p>

<h2>Social Media</h2>

<p>Please follow us on social media!</p>
<p>
<a class="btn btn-facebook" href="http://www.facebook.com/opavote"><i class="fa fa-lg fa-facebook"></i></a>
<a class="btn btn-twitter" href="http://www.twitter.com/opavote"><i class="fa fa-lg fa-twitter"></i></a>
<a class="btn btn-google" href="https://plus.google.com/111850198888069322953"><i class="fa fa-lg fa-google-plus"></i></a>
</p>

<h2>Voter Questions</h2>

<p>If you are a voter and have a question about an election, please contact us by filling following form.</p>

</div>

</div>

<head>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
      <title>Contact us</title>
      <link rel="STYLESHEET" type="text/css" href="contact.css" />
      <script type='text/javascript' src='scripts/gen_validatorv31.js'></script>
</head>
<body>

<!-- Form Code Start -->
<form id='contactus' action='<?php echo $formproc->GetSelfScript(); ?>' method='post' accept-charset='UTF-8'>
<fieldset >
<legend>Contact us</legend>

<input type='hidden' name='submitted' id='submitted' value='1'/>
<input type='hiden' name='<?php echo $formproc->GetFormIDInputName(); ?>' value='<?php echo $formproc->GetFormIDInputValue(); ?>'/>
<input type='text'  class='spmhidip' name='<?php echo $formproc->GetSpamTrapInputName(); ?>' />

<div class='short_explanation'>* required fields</div>

<div><span class='error'></span></div>
<div class='container'>
    <label for='name' >Your Full Name*: </label><br/>
    <input type='text' name='name' id='name' <br/>
    <span id='contactus_name_errorloc' class='error'></span>
</div>
<div class='container'>
    <label for='email' >Email Address*:</label><br/>
    <input type='text' name='email' id='email' <br/>
    <span id='contactus_email_errorloc' class='error'></span>
</div>

<div class='container'>
    <label for='message' >Message:</label><br/>
    <span id='contactus_message_errorloc' class='error'></span>
    <textarea rows="10" cols="50" name='message' id='message'></textarea>
</div>


<div class='container'>
    <input type='submit' name='Submit' value='Submit' />
</div>

</fieldset>
</form>
<!-- client-side Form Validations:
Uses the excellent form validation script from JavaScript-coder.com-->

<script type='text/javascript'>
// <![CDATA[

    var frmvalidator  = new Validator("contactus");
    frmvalidator.EnableOnPageErrorDisplay();
    frmvalidator.EnableMsgsTogether();
    frmvalidator.addValidation("name","req","Please provide your name");

    frmvalidator.addValidation("email","req","Please provide your email address");

    frmvalidator.addValidation("email","email","Please provide a valid email address");

    frmvalidator.addValidation("message","maxlen=2048","The message is too long!(more than 2KB!)");

// ]]>
</script>

</body>


<footer class="blue hidden-print text-center">
  <div class="container">
    <div class="footer-nav">
      <ul>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>
</footer>

<script type="text/javascript">
$(document).ready(function() {
});
</script>

<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58a7288e5e0c3809ffa9ea9d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script><script>
(function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:419995,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</body>
</html>